{% load static %}
<div class="kura_tm_section">
  <div class="kura_tm_copyright">
    <div class="container">
      <div class="copyright_inner wow fadeInUp" data-wow-duration=".7s">
        <div class="text">
          <p><center>Copyright &copy; 2023. All rights reserved.</center></p>
        </div>
        <div class="social">
          <ul>
            <li>
              <a href="https://www.facebook.com/IRTRADEx/" target="_blank"
                ><img
                  class="svg"
                  src="{% static 'img/svg/social/facebook.svg' %}"
                  alt=""
              /></a>
            </li>
            <li>
              <a href="https://mobile.twitter.com/ir_tradex" target="_blank"
                ><img
                  class="svg"
                  src="{% static 'img/svg/social/twitter.svg' %}"
                  alt=""
              /></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/ir_tradex/?hl=en"
                target="_blank"
                ><img
                  class="svg"
                  src="{% static 'img/svg/social/instagram.svg' %}"
                  alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
