{% load static %}
<div class="kura_tm_topbar">
    <div class="wrapper">
      <div class="topbar_inner">
        <div class="logo">
          <a href="{% url 'home' %}"><img src="{% static 'img/logo/logo.png' %}" alt="IR TradeX Logo" /></a>
        </div>
        <div class="menu">
          <div class="list">
            <ul class="anchor_nav">
              <li class="current"><a href="#home">Home</a></li>
              <li><a href="#portfolio">Our Team</a></li>
              <li><a href="#skills">How we work</a></li>
              <li><a href="#price">Services</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
          <div class="trigger">
            <div class="hamburger hamburger--slider">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /TOPBAR -->

  <!-- MOBILE MENU -->
  <div class="kura_tm_mobile_menu">
    <div class="mobile_menu_inner">
      <div class="mobile_in">
        <div class="logo">
          <a href="#"><img src="{% static 'img/logo/logo.png' %}" alt="IR TradeX Logo" /></a>
        </div>
        <div class="trigger">
          <div class="hamburger hamburger--slider">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <div class="dropdown_inner">
        <ul class="anchor_nav">
          <li class="current"><a href="#home">Home</a></li>
          <li><a href="#portfolio">Our Team</a></li>
          <li><a href="#skills">How we work</a></li>
          <li><a href="#price">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /MOBILE MENU -->